{% extends "base.html" %}

{% block content %}
    {% include '_navigation.html' %}
    <h2>Assign Talk</h2>

    <form method="post" action="{{ url_for('assign.assign_talk') }}">
        <label for="record_id">Select Name:</label>
        <select id="record_id" name="record_id" required>
            <option value="" disabled selected>Select a speaker</option>
            {% for record in names %}
            <option value="{{ record.id }}">{{ record.name }}</option>
            {% endfor %}
        </select>

        <label for="date">Date (YYYY-MM-DD):</label>
        <input type="date" id="date" name="date" required>

        <label for="speaker_pos">Speaker Position:</label>
        <select id="speaker_pos" name="speaker_pos" required>
            <option value="First">First</option>
            <option value="Second">Second</option>
            <option value="Third">Third</option>
            <option value="Final">Final</option>
        </select>

        <label for="talk_length">Length of Talk:</label>
        <select id="talk_length" name="talk_length" required>
            <option value="3">3 Minutes</option>
            <option value="5">5 Minutes</option>
            <option value="10">10 Minutes</option>
            <option value="15">15 Minutes</option>
            <option value="20">20 Minutes</option>
        </select>

        <button type="submit">Assign Talk</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
