<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speaker Assignments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <!-- Navigation links -->
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('name_management.name_management_menu') }}">Name Management</a></li>
            <li><a href="{{ url_for('assign.assign_talk') }}">Assign Talk</a></li>
            <li><a href="{{ url_for('view.view_assignments') }}">View Assignments</a></li>
            <li><a href="{{ url_for('import_names.import_names') }}">Import Names</a></li>
            <li><a href="{{ url_for('tools.tools_menu') }}">Tools</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
