<!-- app/templates/remove_exception.html -->

{% extends "base.html" %}

{% block content %}
<h2>Remove Exception</h2>

<form method="post" action="{{ url_for('exception.remove_exception') }}">
    <label for="record_id">Select Name:</label>
    <select id="record_id" name="record_id">
        {% for record in records %}
        <option value="{{ record.id }}">{{ record.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Remove Exception</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
