{% extends "base.html" %}

{% block content %}
    {% include '_navigation.html' %}

    <h1>Assignments</h1>

    {% for year_month, assignments_list in assignments.items() %}
        <h2>{{ year_month }}</h2>
        <table>
            <thead>
                <tr>
                    <th style="width: 20%;">Date</th>
                    <th style="width: 30%;">Name</th>
                    <th style="width: 25%;">Position</th>
                    <th style="width: 25%;">Length</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments_list %}
                    <tr>
                        <td>{{ assignment.date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ assignment.speaker.name }}</td>
                        <td>{{ assignment.speaker_pos }}</td>
                        <td>{{ assignment.talk_length }} Minutes</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
